<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Controle de Tarfas da SUCOM</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Redmine Dashboards" />
    <meta name="keywords" content="team,project,statistics,status,tracker,scrum,agile,plugin" />    
    <!--[if lt IE 9]>   
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/flotr2.ie.min.js" ></script>
    <![endif]-->      
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/flotr2.min.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery.bgiframe.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery.mcdropdown.min.js" ></script>
    

    <%= stylesheet_link_tag 'boilerplate.css', :plugin => 'redmine_dashboard'%>
    <%= stylesheet_link_tag 'fonts.css', :plugin => 'redmine_dashboard'%>
    <%= stylesheet_link_tag 'jquery.mcdropdown.min.css', :plugin => 'redmine_dashboard'%>
    <%= stylesheet_link_tag 'dashboards.css', :plugin => 'redmine_dashboard'%>
  </head>
  <body>
    <div id="header-wrapper" class="public">
      <div id="header" class="clearfix">      
        <div id="header-glow" style="opacity: 0; "></div>
        <div id="header-glow"></div>

        <div id="logo-notif">
          <a id="header-dashboard" href="/"><img id="logo" src="/plugin_assets/redmine_dashboard/images/header-logo.png" alt="Redmine Dashboards"></a>
        </div> <!-- end logo-notif -->

        <div class="header-title">          
          <span>Controle de tarefas e projetos da SUCOM</span>          
        </div> <!-- end header-title -->

        <div id="menu">
          <ul>            
            <li class="first"><a class="selected" href="#">Projetos</a></li>
            <li><a class="" href="#">Equipes</a></li>
            <li class="last"><a class="" href="#">Membros</a></li>
          </ul>
        </div> <!-- end menu -->      
      </div><!-- end header -->
    </div><!-- end header-wrapper -->

    <div id="main-wrapper" class="public">
      <div id="main">
        <div id="container" class="clearfix">
            <div id="profile">
              <div id="info" class="clearfix">
                

                <h1>Dashboard de Projetos <%= "- #{@project.name}" if @project %></h1>
                <%= render :partial => 'breadcrumb' %>                
                <br class="clearer">
              </div>
              <div id="detail">
                <div id="detail-wrapper">                  
                  <div id="navigation">
                    <%= render :partial => 'filter' %>
                  </div><!-- end navitation -->
                  
                  <div id="content">
                    <div class="tab score-analysis" style="display: block;">                        
                      <div id="score-analysis-section">
                        <div class="chart-section">
                          <h2>Status</h2>
                          <%= render :partial => 'tasks_status_chart' %>
                        </div>    
                        <!--                      
                        <div class="chart-section" style="float: right;">
                          <h2>Tipo de Tarefas</h2>
                           render :partial => 'tasks_trackers_chart' 
                        </div>
                        -->
                      </div><!-- score-analysis-section -->
                    </div>
                    <hr>              
                    <div class="tab score-analysis" style="display: block;">                                                
                      <div id="score-analysis-section">
                        <div class="score-section">
                          <h2>Pendentes</h2>
                          <div class="score" style=""><%= number_to_percentage(@remaining_ratio, :precision => 0) %></div> 
                        </div>                          
                        <div class="score-section" >
                          <h2>Tempo gasto</h2>
                          <div class="score" style="">0h</div> 
                        </div>
                        <!--
                        <div class="score-section">
                          <h2>Valor gasto (R$)</h2>
                          <div class="score" style="border-right: 0;">16mil</div> 
                        </div>                          
                        -->
                      </div><!-- score-analysis-section -->
                    </div>
                    <hr> 
                    <div class="tab score-analysis" style="display: block;">
                      <% if @project %>
                      <%= render :partial => 'project_details' %>
                      <hr>             
                      <% end %> 
                      <div class="tab score-analysis" style="display: block;">                                                
                        <div id="score-analysis-section">
                          <div class="score-section">   
                          <%= render :partial => "tasks_table" %>
                          </div>                                                   
                        </div><!-- score-analysis-section -->
                      </div>
                    </div><!-- tab score-analysis -->
                  </div><!-- end content -->
                </div><!-- end detail wrapper -->
              </div><!-- end detail -->
            </div> <!-- end profile -->
        </div> <!-- end container -->
      </div> <!-- end main -->
    </div>
    
    <div id="footer">
      <div id="footer-wrapper">
        <div id="footer-content">
            <div class="content-block">Powered by Redmine</div>            
        </div>
      </div>
    </div>
  </body>  
</html>
