<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>Controle de Tarfas da SUCOM</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Redmine Dashboards" />
    <meta name="keywords" content="team,project,statistics,status,tracker,scrum,agile,plugin" />    
    <link rel="shortcut icon" href="/favicon.ico">
    <!--[if lt IE 9]>   
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/flotr2.ie.min.js" ></script>
    <![endif]-->      
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/modernizr.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/flotr2.min.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery-1.7.1.min.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery.ui.core.min.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery-ui-i18n.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery.ui.datepicker.min.js" ></script>
    <script type="text/javascript" src="/plugin_assets/redmine_dashboard/javascripts/jquery.ui.datepicker-pt-BR.js" ></script>    
    

    <%= stylesheet_link_tag 'boilerplate.css', :plugin => 'redmine_dashboard'%>
    <%= stylesheet_link_tag 'fonts.css', :plugin => 'redmine_dashboard'%>    
    <%= stylesheet_link_tag 'dashboards.css', :plugin => 'redmine_dashboard'%>
    <%= stylesheet_link_tag 'jquery-ui-1.8.12.custom.css', :plugin => 'redmine_dashboard'%>    

  </head>
  <body>
    <div id="header-wrapper" class="public">
      <div id="header" class="clearfix">      
        <div id="header-glow" style="opacity: 0; "></div>
        <div id="header-glow"></div>

        <div id="logo-notif">
          <a id="header-dashboard" href="/"><img id="logo" src="/plugin_assets/redmine_dashboard/images/header-logo.png" alt="Redmine Dashboards"></a>
        </div> <!-- end logo-notif -->

        <div class="header-title">          
          <span>Controle de projetos da SUCOM</span>          
        </div> <!-- end header-title -->

        <div id="menu">
          <ul>            
            <li class="last"><a class="selected" href="#">Projetos</a></li>
            <!--
            <li><a class="" href="#">Equipes</a></li>
            <li class="last"><a class="" href="#">Membros</a></li>
            -->
          </ul>
        </div> <!-- end menu -->      
      </div><!-- end header -->
    </div><!-- end header-wrapper -->

    <div id="main-wrapper" class="public">
      <div id="main">
        <div id="container" class="clearfix">
            <%= yield %>
        </div> <!-- end container -->
      </div> <!-- end main -->
    </div>
    
    <div id="footer">
      <div id="footer-wrapper">
        <div id="footer-content">
            <div class="content-block">Powered by <a href="/">Redmine</a></div>            
        </div>
      </div>
    </div>
  </body>  
</html>
