<% form_tag({:controller => controller_name, :action => action_name, :project_id => @project, :issue_id => @issue}, :method => :get, :id => 'query_form') do %>  
  <input type="hidden" name="set_filter" value="1"/>
  <ul>                          
      <li><span class="title"><div class="triangle"></div>Filtro<div class="inverse_triangle"></div></span></li>
      <li>
        <span>Projetos</span>                              
      </li>
      <li>
        <div class="inputs">
        <select id="projects" name="project_id" onchange="this.form.submit();" class="select-small" style="vertical-align: top; width: 150px;">
        <option value="" <%= 'selected="selected"' unless @project %> >Todos</option>
        <% @project_values.each do |item| %>
        <option value="<%= item[1] %>" <%= 'selected="selected"' if @project && @project.id == item[1].to_i  %> ><%= item[0] %></option>
        <% end %>
        </select>
        
        </div>
      </li>
      <li>
        <span>Intervalo</span>
      </li>                            
      <li>
        <table class="filter_table">
          <tr>
            <td class="label">Início</td>
            <td>
              <%= text_field_tag :from, @from, :class =>  "search_field thin datepicker", :autocomplete => "off", :size => 9 %>
              <img alt="Calendar" class="calendar-trigger" id="from_trigger" src="/images/calendar.png">
            </td>
          </tr>
          <tr>
            <td class="label">Fim</td>
            <td>
              <%= text_field_tag :to, @to, :class =>  "search_field thin datepicker", :autocomplete => "off", :size => 9 %>
              <img alt="Calendar" class="calendar-trigger" id="to_trigger" src="/images/calendar.png">
            </td>
          </tr>
        </table>                        
      </li>    
      <li>
        <div class="inputs">
          <input type="submit" value="Aplicar" style="width: 152px;">
        </div>
      </li>                         
  </ul>
<% end %><!-- end form filtro -->

<script>
  $(function() {
    $( "#from" ).datepicker({
      dateFormat: 'yy-mm-dd',
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: false
    })
  }); 

  $(function() {
    $( "#to" ).datepicker({
      dateFormat: 'yy-mm-dd',
      defaultDate: "+1w",
      changeMonth: true,
      changeYear: false
    })
  }); 
</script>