<table class="list issues" style="margin-bottom: 14px; width: 636px;">
  <tbody>
    <tr style="background-color: #EEE;">
      <!--
      <th title="&quot;#&quot;">#</th>
      -->
      <th title="&quot;Assunto&quot;"><a href="<%= sort_url('subject') %>">Assunto</a></th>      
      <th title="&quot;Alterado&quot;" style="text-align: left;"><a href="<%= sort_url('updated_on%3Adesc') %>">Alterado</a></th>      
      <th title="&quot;Situação&quot;"><a href="<%= sort_url('status') %>">Situação</a></th>
      <th title="&quot;Terminado&quot;"><a href="<%= sort_url('done_ratio') %>">Terminado</a></th>
    </tr>
  </tbody>

  <tfoot>
    <tr style="background-color: #EEE; ">
      <td colspan="3">
        <span style="font-weight: bold; "><%=h @issue_count %> tarefas</span>
      </td>
      <td style="text-align: right; font-weight: bold;   ">
        <%= "#{h(number_with_precision(@done_ratio.to_f, :precision => 2))}%" %>
      </td>
    </tr>
  </tfoot>

  <tbody> 
    <% reset_cycle %>
    <% @issues.each do |issue| %>         
    <tr id="issue-<%= issue.id %>" class="<%= cycle('', 'alt') %>" >
      <!--
      <td class="id" style="text-align: left; ">
        <a href="<%= issue_path(issue) %>" target="_blank" style="font-size: 12px; font-family: Arial,sans-serif;"><%= issue.id %></a>        
      </td>
      -->
      <td class="subject" style="width: 80%; text-align: left; ">
        <a href="<%= issue_path(issue) %>" target="_blank" style="font-size: 12px; font-family: Arial,sans-serif;"><%= truncate("#{issue.subject}", :lenght => 55) %></a>        
      </td>
      <td class="tracker" >
        <%= format_date(issue.updated_on) %>
      </td>
      <td class="status" style="width: 20%; text-align: left; ">
        <%= h(issue.status) %>
      </td>      
      <td class="done_ratio" style="text-align: right;">
        <%= "#{issue.done_ratio}%" %>
      </td>
    </tr>  
    <% end %>         
  </tbody>     
</table>
<p class="pagination">
  <%= pagination_links_full @issue_pages, @issue_count %>
</p>


