<div class="">
<% if group.users.any? %>
  <table class="list users">
    <thead><tr>
      <!--
      <th align="left"><%= l(:label_user) %></th>
      <th style="width:15%"></th>
      -->
    </tr></thead>
    <tbody>
    <% group.users.sort.each do |user| %>
      <tr id="user-<%= user.id %>" class="<%= cycle 'even', 'odd' %>">
        <td class="user"> &nbsp; - <%= link_to_user user %></td>
        <td align="center"><%= total_issues_by_group(group) %></td>
        <!--
        <td class="buttons">
            <%= link_to_remote l(:button_delete), { :url => { :controller => 'groups', :action => 'remove_user', :id => group, :user_id => user },
                                                    :method => :post },
                                                  :class => 'icon icon-del' %>
        </td>
        -->
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% end %>
</div>