<h3>Dashboard de Utilização <%= " - #{@project}" if @project %> <%= " - #{@from} até #{@to}" if @from && @to %></h3>

<% form_tag({:controller => controller_name, :action => action_name, :project_id => @project, :issue_id => @issue}, :method => :get, :id => 'query_form') do %>
<%= render :partial => 'date_range' %>
<% end %>

<%= render :partial => "issues_creation_history_graph" %>
</br></br>
<%= render :partial => "done_ratio_history_graph" %>
</br>


<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>