<div id="profile">
  <div id="info" class="clearfix">
    <h1>Dashboard de Projetos <%= "- #{@project.name}" if @project %></h1>
    <%= render :partial => 'breadcrumb' %>                
    <br class="clearer">
  </div>
  <div id="detail">
    <div id="detail-wrapper">                  
      <div id="navigation">
        <%= render :partial => 'filter' %>
      </div><!-- end navitation -->
      
      <div id="content">
        <div class="tab score-analysis" style="display: block;">                        
          <div id="score-analysis-section">
            <div class="chart-section">
              <h2>Status</h2>
              <%= render :partial => 'tasks_status_chart' %>
            </div>    
            <!--                      
            <div class="chart-section" style="float: right;">
              <h2>Tipo de Tarefas</h2>
               render :partial => 'tasks_trackers_chart' 
            </div>
            -->
          </div><!-- score-analysis-section -->
        </div>
        <hr>              
        <div class="tab score-analysis" style="display: block;">                                                
          <div id="score-analysis-section">
            <div class="score-section">
              <h2>Pendentes</h2>
              <div class="score" style="">    
                <% @remaining_ratio ||= 0.0 %>
                <%= @remaining_ratio.nan? ? "0" : number_to_percentage(@remaining_ratio, :precision => 0) %>
              </div> 
            </div>    
            <% if @total_hours.present? %>                      
            <div class="score-section" >
              <h2>Tempo gasto</h2>
              <div class="score" style=""><%= "#{number_with_precision(@total_hours, :precision => 0)}h" %></div> 
            </div>
            <% end %>

            <!--
            <div class="score-section">
              <h2>Valor gasto (R$)</h2>
              <div class="score" style="border-right: 0;">16mil</div> 
            </div>                          
            -->
          </div><!-- score-analysis-section -->
        </div>
        <hr> 
        <div class="tab score-analysis" style="display: block;">
          <% if @project %>
          <%= render :partial => 'project_details' %>
          <hr>             
          <% end %> 
          <div class="tab score-analysis" style="display: block;">                                                
            <div id="score-analysis-section">
              <div class="score-section">   
              <%= render :partial => "tasks_table" %>
              </div>                                                   
            </div><!-- score-analysis-section -->
          </div>
        </div><!-- tab score-analysis -->
      </div><!-- end content -->
    </div><!-- end detail wrapper -->
  </div><!-- end detail -->
</div> <!-- end profile -->