<h3>Dashboard de Projetos</h3>

<%= render_breadcrumb %>

<% form_tag({:controller => controller_name, :action => action_name, :project_id => @project, :issue_id => @issue}, :method => :get, :id => 'query_form') do %>  
 <fieldset id="project-range" class="collapsible">
    <legend onclick="toggleFieldset(this);">Projetos</legend>
    <div> 
      <p>
        <select id="projects" name="project_id" onchange="this.form.submit();" class="select-small" style="vertical-align: top;">
        <% @project_values.each do |item| %>
        <option value="<%= item[1] %>" <%= 'selected="selected"' if @project.id == item[1].to_i  %> ><%= item[0] %></option>
        <% end %>
        </select>
      </p>      
    </div>
  </fieldset>
  <%= render :partial => 'date_range' %>  
<% end %>

<%= render :partial => "done_ratio_graph" %>
</br>
<%= render :partial => "done_ratio_history_graph" %>
</br>

<%= render :partial => "list" %>

<% content_for :sidebar do %>
  <%= render :partial => 'sidebar' %>
<% end %>